form {
  color: goldenrod;
  border-color: gold;
  font-family: fantasy;
  height: 400px;
  width: 400px;
}
fieldset {
  border-color: indianred;
  border-style: groove;
  border-width: 35px;
}
legend {
  font-family: fantasy;
  font-weight: bolder;
}

input {
  background-color: lightcoral;
}
